:root {
  --accent-primary: "#EF3D63";
  --font-primary: "Poppins", sans-serif;
}

/* Box sizing rule */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-size: inherit;
}

/* Remove default margin and padding */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
  color: #2d2d2d;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: var(--font-primary);
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  width: 100%;
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set default display for HTML5 elements in older browsers */
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

.container {
  font-size: 1.563vw;
  padding: 4em;
}

.lg-only {
  display: none;
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #7f5ba6;
  border-radius: 0.5em;
  text-decoration: none;
  height: 6.2em;
  margin: 1.8em 0;
}

.cta-text {
  font-size: 2.8em;
  color: #fff;
  text-transform: capitalize;
}

.divider {
  max-width: 1920px;
  margin: 0 auto;
}

.divider--top {
  margin-top: 15em;
}

.divider--bottom {
  margin-top: 5em;
}

.section-title {
  text-transform: capitalize;
  font-size: 7em;
  position: relative;
  padding-bottom: 0.7em;
  margin-bottom: 0.5em;
  white-space: nowrap;
}
.section-title::after {
  content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='uuid-7497f702-dfd9-471f-b09c-d3ddc3016df5' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 156.42 19.6'%3E%3Crect width='69.45' height='19.6' rx='.85' ry='.85' fill='%23805ba6' stroke-width='0'/%3E%3Crect x='79.97' width='19.51' height='19.6' rx='.83' ry='.83' fill='%23805ba6' opacity='.75' stroke-width='0'/%3E%3Crect x='108.44' width='19.51' height='19.6' rx='.83' ry='.83' fill='%23805ba6' opacity='.5' stroke-width='0'/%3E%3Crect x='136.91' width='19.51' height='19.6' rx='.83' ry='.83' fill='%23805ba6' opacity='.25' stroke-width='0'/%3E%3C/svg%3E");
  position: absolute;
  left: 0;
  bottom: 0;
  width: 30%;
}

@media (min-width: 641px) {
  .container {
    font-size: 0.521vw;
  }
  .container__inner {
    margin: 0 auto;
    width: 132em;
  }
  .sm-only {
    display: none;
  }
  .lg-only {
    display: initial;
  }
  .section-title {
    font-size: 5em;
  }
  .section-title::after {
    width: 8%;
  }
}

@media (min-width: 1921px) {
  .container {
    font-size: 10px;
  }
}
