.services .cards {
  padding-top: 6em;
  display: flex;
  flex-direction: column;
  gap: 15em;
}
.services .card {
  width: 60%;
  margin: 0 auto;
}

.services .card img {
  width: 25em;
  margin: 0 auto;
}

.services .card h2 {
  text-align: center;
  font-size: 4em;
  white-space: nowrap;
  line-height: 2;
  text-transform: capitalize;
}

.services .card p {
  text-align: center;
  font-size: 2.4em;
  text-transform: capitalize;
}

@media (min-width: 641px) {
  .services .cards {
    flex-direction: row;
  }
}
